:root {
  --background-color: hsl(212, 28%, 23%);
  --font-color: hsl(212, 16%, 87%);
  --primary-color: hsl(342, 99%, 72%);
  --primary-color-lighter: hsl(212, 76%, 72%);
  --border: hsl(212, 16%, 85%);
  --link: white;
  --shade: hsla(212, 33%, 66%, 0.4);
  --button-background: hsl(212, 43%, 34%);
  --svg-color: invert(88%) sepia(24%) saturate(5398%) hue-rotate(181deg)
    brightness(100%) contrast(95%);
}
