:root {
  /* COLORS */
  --button-bottom-color: rgba(0, 0, 0, 0.3);
  --default-background-color: #f5f5f5;
  --dark-grey: #3b3b3b;
  --light-grey: #d3d3d3;
  --primary-color: #073d74;
  --primary-color-desaturated: #3870a8;
  --primary-color-lightest: hsl(210, 100%, 90%);
  --primary-color-saturated: #0070e0;
  --shade-tone1: #e9edf1;
  --shade-tone2: #dce3e9;
  --shade-tone3: #d4dbe2;
  --shade-tone4: #c3ccd5;
  --shade-tone5: #ebf0f4;
  --inset-shade: #073d7480;
  --white: #fff;
  --brown: #8f4006;

  /* OTHERS */
  --font-thick: 700;
  --fornt-regular: 400;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--default-background-color);
  color: var(--dark-grey);
  font-family: 'Kanit', sans-serif;
  font-weight: var(--fornt-regular);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: var(--font-thick);
  color: var(--primary-color);
}

h2 {
  font-size: 24px;
  font-weight: var(--font-thick);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-thick);
}

a {
  text-decoration: none;
}

a:link {
  color: var(--primary-color-saturated);
}

a:visited {
  color: var(--primary-color-desaturated);
}

a:hover,
a:focus {
  font-weight: bolder;
  color: var(--primary-color-desaturated);
}

a:active {
  color: var(--dark-grey);
}

button,
.button,
a.button:link {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color-desaturated);
  color: var(--white);
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  transition-duration: 0.5s;
  transition-property: opacity;
  margin: 3px;
  margin-bottom: 25px;
}

.brown-background {
  background-color: var(--primary-color) !important;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.75;
  background-color: var(--primary-color-desaturated);
}

.contact {
  margin: auto;
  margin-top: 130px;
  max-width: 320px;
  font-size: 18px;
}

.contact h2 {
  font-size: 21px;
}

input[type='tel'],
input[type='email'],
textarea {
  width: 400px;
  margin-bottom: 10px;
  box-shadow: inset 0px 0px 2px var(--inset-shade);
  border-radius: 5px;
}

form {
  margin-bottom: 3rem;
}
/* table {
  margin: auto;
  margin-top: 40px;
} */

.blue-background {
  background-color: var(--primary-color-lightest);
}

.buenos-aires {
  max-width: 900px;
}

.buenos-aires__shade {
  animation: 9s shade-move infinite linear;
}

.navigation-list {
  list-style-type: none;
  text-align: inherit;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:first-child {
  padding-top: 7px;
  width: 270px;
  height: 38px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 2rem;
}

.profile__portrait {
  width: 250px;
  height: auto;
  border-radius: 50%;
  margin: auto;
  border: 3px solid var(--primary-color);
}

.profile__text-container {
  line-height: 1rem;
  width: 250px;
  margin: 3rem auto;
}

.projects-grid {
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-auto-rows: max-content;
  grid-gap: 20px;
  margin: 20px auto;
  max-width: 1000px;
}

.projects-grid__item {
  background-color: white;
  border: 1px solid var(--shade-tone3);
  box-shadow: 2px 2px 5px var(--shade-tone3);
  border-radius: 7px;
  padding: 10px;
  grid-column: span 1;
  grid-row: span 1;
  margin: 7px;
}

.projects-grid__item--wide {
  grid-column: span 2;
  grid-row: span 1;
}

.skills-list {
  margin: 10px auto;
  max-width: 350px;
  padding-bottom: 20px;
  text-align: left;
}

.skills-list ul {
  list-style-type: none;
}

.skills-list li::before {
  content: '✴ ';
}

.social-media__item {
  margin: 0 0.3rem;
}

@keyframes shade-move {
  0% {
    fill: var(--shade-tone1);
    transform: skewX(0deg);
  }
  19% {
    fill: var(--shade-tone3);
    transform: skewX(0.4deg);
  }
  34% {
    fill: var(--shade-tone4);
    transform: skewX(-0.2deg);
  }
  52% {
    fill: var(--shade-tone3);
    transform: skewX(0.2deg);
  }
  82% {
    fill: var(--shade-tone2);
    transform: skewX(-0.5deg);
  }
  100% {
    fill: var(--shade-tone1);
    transform: skewX(0deg);
  }
}

.meet-app {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

.myflix-api {
  background-color: var(--primary-color-lightest);
  grid-column: span 1;
}

.padding-3 {
  padding: 3%;
}

.image-meet-app,
.image-topflix-angular,
.image-topflix-react,
.image-pokedex {
  width: 475px;
  max-width: 99%;
}
.image-chat-app-1,
.image-chat-app-2 {
  width: 225px;
  max-width: 47%;
  padding: 1%;
}

@media all and (max-width: 500px) {
  .projects-grid {
    display: flex;
    flex-direction: column;
  }
  input[type='tel'],
  input[type='email'],
  textarea {
    width: 300px;
  }

  .meet-app {
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media all and (min-width: 500px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
  .projects-grid__item--wide,
  .projects-grid__item--tall {
    grid-column: span 1;
    grid-row: span 1;
  }

  .image-meet-app {
    max-width: 500px;
  }

  .myflix-api {
    grid-column: span 2;
    padding: 55px;
  }
}

@media all and (min-width: 750px) {
  .projects-grid {
    grid-gap: 10px;
  }

  .profile {
    flex-direction: row;
    width: 70%;
    max-width: 600px;
    margin: 50px auto 200px;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 2rem;
  }

  .profile__text-container {
    text-align: center;
  }

  .meet-app {
    max-width: 986px;
    margin: 7px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}
